* {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

/* slogan */

.slogan {
	display: flex;
	width: 100vw;
	height: 95vh;
	margin-top: -1vw;
	text-align: left;
	color: #ffffff;
	padding: 10vw 30vw 0vw 10VW;
	/* debug */
	/* background-color: green; */
}

.slogan {
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url(../img/fundo-mudas-de-plantas-FULLHD.jpg);
}

.slogan h1 {
	font-size: 70px;
}

/* animação de entrada do  slogan*/
.slogan h1,
h2 {
	transform: translateX(-2500px);
}

.slogan h1 {
	animation: entrada 1s ease 0.8s 1 normal forwards;
}

.slogan h2 {
	animation: entrada 1s ease 0.5s 1 normal forwards;
}

@keyframes entrada {
	0% {
		opacity: 0;
		transform: translateX(-1000px);
	}

	80% {
		opacity: 0.5;
		transform: translateX(0);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

@media (max-width:1500px) {
	.slogan h1 {
		font-size: 55px;
	}

	.slogan {
		padding: 10vw 25vw 0vw 10VW;
	}
}



/* destaques da pagina inicial */
.ajuste_na_tela,
.imagem0 {
	display: flex;
	align-items: center;
	width: 100vw;
	height: 100vh;
	/* debug */
	/* background-color: red; */
}

/* destaques da pagina inicial conteúdo para chama atenção */
.destaques1,
.destaques2 {
	display: inline-block;
	height: 50vh;
	width: 40vw;
	margin: 8vh -5vw 8vh 8vw;
	background-color: #232323;
	border-radius: 10px;
}


.destaques2_m {
	display: none;
}



/* responsividade mobile */

@media (max-width:1025px) {
	.slogan {
		background-size: cover;
		height: 110vh;
	}

	.slogan h1 {
		font-size: 35px;
	}


	.ajuste_na_tela,
	.imagem0 {
		float: none;
		display: inline;
		align-items: none;
		padding-top: 1vh;
		height: 120vh;
		width: 100vw;
		/* debug */
		/* background-color: red; */
	}

	.destaques1,
	.destaques2_m {
		display: inline-block;
		height: 40vh;
		width: 100vw;
		margin: 10vw 0 0 0;
		border-radius: 0;
		background-color: #232323;
		/* margin-bottom: 8vh; */
	}

	.destaques2 {
		display: none;
	}


}




/* icons da pagina */
.icon-fav {
	background-image: url(../icons/heart.svg);
	width: 50px;
	height: 50px;
	float: right;
	border: 0;
	margin-left: -5vw;
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;

	background-color: red;
}


/* seta as img da pagina  */
.imagem0,
.imagem1,
.imagem2 {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.imagem1 {
	background-image: url(../img/sustentabilidade-da-planta-de-conservacao-ambiental-FULLHD.jpg);
}

.imagem2 {
	background-image: url(../img/paineis-solares.jpg);
}