* {
	margin: 0;
	padding: 0;
}

.logo-pg-index{
	width: calc(30vw);
	border-radius: 500px;
	background-color: red;
}
.logo-pg-index>img{
	background-repeat: no-repeat;
	background-position: center;
	background-image: url(img/logo.png);
}